@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-dark: #1e1b4b;
    --primary-green: #10b981;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(var(--primary-dark),rgb(77, 54, 194)); 
    color: var(--primary-green);
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 2em auto;
    border: 2px solid var(--primary-green);
    text-align: center;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, .4);
}

label,
input,
button {
    display: block;
    margin: 1em auto;

}

label,
input,
button:hover {
    cursor: pointer;
    font-family: inherit;
}

input{
    border-radius: 10px;
    min-height: 6dvh;
    text-align: center;
    font-weight: bold;
}
#output-div {
    border: 2px solid var(--primary-green);
    padding: 1em;
    margin: 1em auto;
    max-width: 600px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

#date-of-birth {
    width: 30%;
    height: 4vh;
}

#lucky-number {
    width: 30%;
    height: 4vh;
}

#check-btn {
    background-color:var(--primary-green);
    color: black;
    border-radius: 10px;
    padding: .5em;
    width: 10%;
    font-weight: bold;
    cursor: pointer;
 transition: all 0.2s linear;
}

#check-btn:hover {
    
    transform: scale(1.1);
}

.link{
    text-decoration:none;
    padding:1em;
    color:white;
    font-family: inherit;
   
    
}



.link:hover{
    font-weight: bold;
}

.link-active{
    font-weight:bolder;
}

.list-inline{
    display:inline;
    
}




footer {
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    padding-inline-start: 0px;
    padding-bottom: 0;
}

.icons {
    margin:.5em 1em;
    font-size: small;
    color:white;
    transition:all 0.3s ;
     
}

.icons i{
    transition:all 0.3s linear;
}
.icons i:hover{
    transform:scale(1.2);
   
}
